.cart-dropdown {
  position: absolute;
  width: 220px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: aliceblue;
  border: 1px solid white;
  background: linear-gradient(
      to left,
      rgb(155, 7, 184) 0%,
      rgb(146, 23, 14) 100%
  );
  top: 90px;
  right: 50px;
  z-index: 5;

  .empty-message{
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow: auto;

  }


  // button {
  //   margin-top: auto;
  // }



}
